<form action="/delete" method="post">
    <legend>Delete User</legend>
    
    <div>
      <label for="exampleInputPassword1" class="form-label mt-4">Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="name" placeholder="Name" autocomplete="off">
    </div>
</form>