<form action="/update/" method="post">
  <fieldset class="container">
    <legend>Update User</legend>
    
    <div>
      <label for="exampleInputPassword1" class="form-label mt-4">Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="name" placeholder="Name" autocomplete="off">
    </div>
    <div>
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div>
      <label for="exampleInputPassword1" class="form-label mt-4">Phone</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="phone" placeholder="Phone" autocomplete="off">
    </div>
    <div>
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" autocomplete="off">
    </div>
   
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </fieldset>
</form>